.contact-container {
    padding: 1em 1em 3em;
    font-family: 'Raleway', sans-serif;
}

.contact-header {
    margin: 0 auto 0.3em;
    justify-content:center;
    display:flex;
    align-items: center;
}

.contact-subheader {
    justify-content:center;
    display:flex;
    align-items: center;
}


h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.8em;
    color:#000000;
    line-height: 1.03em;
}

.contact-details {
    display: flex;
}

.details {
    font-family: 'Abril Fatface', cursive;
    margin-right: 0.2em;
    margin-left: 0.4em;
}

/*.info {
    color: #bebbbc;
}*/

.form-group, .btn {
    margin:1em 0 0;
}

.input-error {
    border: 1px solid rgb(138, 138, 126);
}

/*.btn {
    padding: 0.4em 1.5em;
    border-radius: 0.6em;
    color: black;
    background-color: #7880d6;
    border: 0;
    color: white;
}

.btn:hover{
    background-color: #949be7;
}*/

.btn {
    padding: 0.7em 2em;
    border-radius: 1.6em;
    border: 0;
    background-color: #d13c3c;
    color: white;
    font-size: 1em;
}

.btn:hover{
    background-color: #e95e5e;
}

.small {
    font-size: xx-small;
    color: aliceblue;
}


@media only screen and (min-width : 992px) {

    .contact-container{
        padding: 2em 4em;
    }

    img{
        margin: 0 auto;
        padding: 0 5em;
    }

    .svg-form {
        padding: 2em 0 3em;
    }

    .form {
        margin: auto;
    }

}

@media only screen and (min-width : 1200px) {
}