.contact-container {
    padding: 1em 1em 15vh;
    font-family: 'Raleway', sans-serif;
}

.contact-header {
    margin: 0 auto 0.3em;
    justify-content:center;
    display:flex;
    align-items: center;
}

.contact-subheader {
    
    justify-content:center;
    display:flex;
    align-items: center;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.8em;
    color:#F88AB0;
    line-height: 1.03em;
}

.contact-details {
    display: flex;
}

.details {
    font-family: 'Abril Fatface', cursive;
    color:#F88AB0;
    margin-right: 0.2em;
    margin-left: 0.4em;
}

.form-group, .btn {
    margin:1em 0 0;
}

.input-error {
    border: 1px solid rgb(138, 138, 126);
}

.btn {
    padding: 0.4em 1.5em;
    border-radius: 0.6em;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #7880d6;
}

.btn:hover{
    background-color: #979ee9;
}

.small {
    font-size: xx-small;
    color: aliceblue;
}


@media only screen and (min-width : 992px) {
    img{
        margin: 0 auto;
        padding: 0 5em;
    }

    .form {
        margin: auto;
    }

}

@media only screen and (min-width : 1200px) {
}