.contact-container {
    padding: 1em 1em 3em;
    font-family: 'Raleway', sans-serif;
}

.contact-header {
    margin: 0 auto 0.3em;
    justify-content:center;
    display:flex;
    align-items: center;
}

.contact-subheader {
    justify-content:center;
    display:flex;
    align-items: center;
}

.alert {
    color: #ff0000;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.8em;
    color:#d13c3c;
    line-height: 1.03em;
}


.details {
    font-family: 'Abril Fatface', cursive;
    margin-right: 0.2em;
    margin-left: 0.4em;
    color: #d13c3c;
}

.form-group, .btn {
    margin:1em 0 0;
}

.input-error {
    border: 1px solid rgb(138, 138, 126);
}

.btn {
    padding: 0.7em 2em;
    border-radius: 1.6em;
    border: 0;
    background-color: #d13c3c;
    color: white;
    font-size: 1em;
}

.btn:hover{
    background-color: #e95e5e;
}

.small {
    font-size: xx-small;
    color: aliceblue;
}

.image {
    height: 310px;
}


@media only screen and (min-width : 992px) {

    .contact-container{
        padding: 2em 4em;
    }

    .contact-details {
        display: flex;
    }

    img{
        margin: 0 auto;
        padding: 0 5em;
    }

    .svg-form {
        padding: 2em 0 3em;
    }

    .form {
        margin: auto;
    }

}

@media only screen and (min-width : 1200px) {
}