<div class="contact-container">
    <h3 class="contact-header">Got any question?</h3>
    <div class="contact-subheader">
        <div class="contact-details">
            <div>
                <span class="details">Phone :</span>
                <small>O7O8-210-7805</small>
            </div>
            <div>
                <span class="details">Email :</span>
                <small>ogoh_blessing@yahoo.com</small>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
            <img src="../../../assets/message.png" alt="contact" class="img-fluid image col-md-6 col-lg-6" height="500px">
            
            <form action="" #form="ngForm" class="col-md-6 col-lg-6 form">
                <div class="form-row">
                    <div class="form-group">
                        <input type="text" class="form-control rounded-pill" id="firstname" placeholder="First Name" name="firstname"
                            [(ngModel)]="Contact.firstname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control rounded-pill" id="lastname" placeholder="Last Name" name="lastname"
                            ngModel>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control rounded-pill" id="email" placeholder="What's your email?" name="email"
                            ngModel>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="textarea" cols="25" rows="4" class="form-control"
                            ngModel></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary rounded-pill" ngModel>Submit</button>
                        {{ form.value | json }}
                    </div>
                </div>
            </form>
        </div>
    </div>