.about-container {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 2em;
    /*: 1em 1em 3em;*/
}

img {
    border-radius: 50%;
}

a {
    text-decoration: none;
    font-size: 1.1em;
    color: #000000;
    text-decoration: underline;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    color:#d13c3c;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.8em;
    color:#d13c3c;
}

.about {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-size: 1em;
}


@media only screen and (min-width : 992px) {

    .me {
        border-right: 2px solid #d13c3c;
        padding-right: 3em;
    }

    .community {
        padding-left: 3em;
    }
}

@media only screen and (min-width : 1200px) {}