.about-container {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(3, 3, 3);
    padding: 1em 1em 3em;
}

img {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    color:#000000;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.8em;
    color:#000000;
}

.about {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-size: 1em;
    padding: 0 2em 0;
}


@media only screen and (min-width : 992px) {

    .about-container {
        padding-top: 0;
        padding-bottom: 4em;
    }

    .me {
        border-right: 2px solid #000000;
        padding-right: 3em;
    }

    .community {
        padding-left: 3em;
    }
}

@media only screen and (min-width : 1200px) {}