<div class="about-container">
    <div class="about">
        <h2>About me</h2>
        <p>I am a Frontend Developer based in Nigeria. I proffer technical solutions to problems. I build websites that are responsive, scalable and accessible using HTML, CSS, JavaScript, Bootstrap, Angular and Version control systems like Git and Github.</p>
        <p>I have good people skills, can collaborate within a team, am self-motivated and enjoy learning. With my technical skills and work ethic, I am convinced that I will be an asset to your team.</p>
    </div>
</div>
