<div class="about-container">
    <div class="about">
        <h1>About:</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 me">
                    <h2>Me</h2>
                    <!--<img src="../../../assets/drawkit-developer-woman-colour.png" alt="avatar" height="200em">-->
                    <p>I am a talented Frontend Developer based in Nigeria. I fuse technology, critical thinking, a
                        strong written and verbal communication, team collaboration, creativity and excellent time
                        management to proffer solutions to design problems.</p>
                    <p>I develop websites using HTML, CSS, JavaScript, Bootstrap and Angular. I am proficient with using
                        Version control systems like Git and GitHub. And, I am open to learning even more technologies
                        to
                        get a job done and grow.</p>
                    <p>I am a goal-oriented lady who is diligent, hardworking, passionate about her career and I've got
                        grit. I am a fast learner and a team player.
                    </p>
                    <p>
                        When I am not coding, I make custom, sculpted Polymer clay art pieces at <a
                            href="blaires-crafts.vercel.app" target="_blank"><b>Blaire's Craftes</b></a>
                    </p>
                    <!--ADD LINK-->
                    <h2>Stack</h2>
                    <p>
                        I am proficient with the following technologies and am willing to learn more:
                    </p>
                    <ul>
                        <li>
                            <b>HTML</b> | <b>CSS</b> | <b>JavaScript</b> | <b>Bootstrap</b> | <b>Angular</b> | <b>Git and GitHub</b> | <b>REST API usage</b>
                        </li>
                    </ul>

                    <h2>Communities</h2>
                    <p>
                        During my tech journey, I have had the opportunity to learn with:
                    </p>
                    <ul>
                        <li><b>Findworka's TechCampus</b>: TechCampus introduced me to the basic concepts of programming
                            through
                            its course that ran for three months. On rounding up, I could work comfortably with HTML,
                            CSS
                            and JavaScript.
                        </li>
                        <li><b>Google Africa Developer Scholarship(GADS)</b>: GADS is a six month long program organized
                            by Google,
                            in collaboration with Andela and PluralSight. While the program ran, participants had access
                            to
                            free lecture materials on PluralSight and recieved mentorship on Andela's Learning Community
                            platform. Taking the Mobile Web Development course helped me solidify my knowledge of HTML,
                            CSS
                            and JavaScript and I learned Bootstrap, Angular, Git and GitHub.
                        </li>
                    </ul>
                    <!--CLI-->
                </div>

                <div class="col-md-6 col-lg-6 community">
                   
                    <h2>Open-source Contribution</h2>
                    <p>
                        <b>Outreachy Internship - JupyterHub:</b> During Outreachy's 2022 Winter cohort, I contributed to Improving the
                        Accessibility of JupyterHub. With the guidance of my mentors, the members of the community and
                        Jupyter Lab's Accessibility team, I:
                    </p>
                    <ul>
                        <li>
                            Evaluated JupyterHub’s pages using WAVE accessibility testing tool and axe DevTools.
                        </li>
                        <li>
                            Proposed solutions to accessibility issues pointed out by tests and discussed these
                            solutions with members of JupyterHub’s community and the JupyterLab accessibility team.
                        </li>
                        <li>
                            Implemented changes approved by the team and evaluated the pages using screen readers like
                            VoiceOver and ChromeVox to have a feel of what people with visual disabilities experience
                            and see how efficient changes that were made are.
                        </li>
                        <li>Automated the process of accessibility testing using Playwright so that accessibility
                            defects
                            are noted and corrected in the development phase.
                        </li>
                    </ul>

                    <h2>Volunteering</h2>
                    <p>
                        <b>CodeJika, South Africa - Fronted Development Coding Coach</b> 
                    </p>
                    <ul>
                        <li>
                            Introduced students to programming technologies like HTML, CSS and JavaScript.
                        </li>
                        <li>
                            Mentored 75- 80 students across two schools as they started and navigated their way through coding.
                        </li>
                        <li>
                            Set up Coding clubs in schools in my community with the hope that it gets included in the curriculum as time passes and eventually my mentees are equipped with skills necessary to make a positive impact in the society.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>