<mat-toolbar class="toolbar" color="primary">

    <img src="../../../../assets/Logo.svg" height="90px" alt=" Ogoh Blessing logo" class="logo">

    <span class="fill-remaining-space"></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm class="header">
        <button mat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
        </button>
        <button mat-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            About Me
        </button>
        <button mat-button routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Projects
        </button>

        <button mat-button onclick="window.open('https://blaire.hashnode.dev','_blank');" type="button">Blog</button>
        <button mat-button>Resume</button>

        <button mat-button routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Contact Me
        </button>
    </div>



    <div fxLayout="row" fxShow="false" fxShow.gt-sm class="contact-toolbar" color="primary">
        <ul class="wrapper">
            <li>
                <a href="https://github.com/bl-aire" target="_blank" aria-hidden="true" aria-label="github">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/ogoh-blessing" target="_blank" aria-hidden="true" aria-label="linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/2347082107805" target="_blank" aria-hidden="true" aria-label="whatsapp">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a href="mailto: ogoh_blessing@yahoo.com?subject = Order = Message" target="_blank" aria-hidden="true" aria-label="message">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="tel:+2347082107805" target="_blank" aria-hidden="true" aria-label="phone">
                    <i class="fa fa-phone"></i>
                </a>
            </li>
        </ul>
    </div>


    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm aria-label="menu">
        <mat-icon class="fa fa-bars"></mat-icon>
    </button>


    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item routerLink="/homepage" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Home</button>
        <button mat-menu-item routerLink="/about" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">About Me</button>
        <button mat-menu-item routerLink="/projects" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Projects</button>

        <button mat-menu-item onclick="window.open('https://blaire.hashnode.dev','_blank');" type="button">Blog</button>
        <button mat-menu-item>Resume</button>

        <button mat-menu-item routerLink="/contact" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Contact Me</button>

        <span fxLayout="row" fxShow.gt-sm class="toolbar-contact" color="primary" mat-menu-item>
            <ul class="wrapper">
                <li><a href="https://github.com/bl-aire" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://linkedin.com/in/ogoh-blessing" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href="https://wa.me/2347082107805" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                <li><a href="mailto: ogoh_blessing@yahoo.com?subject = Order = Message" target="_blank"><i
                            class="fa fa-envelope"></i></a></li>
                <li><a href="tel:+2347082107805" target="_blank"><i class="fa fa-phone"></i></a></li>
            </ul>
        </span>

    </mat-menu>

</mat-toolbar>
<router-outlet></router-outlet>