.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: #000;
  position: relative;
  height: 10vh;
}

mat-menu button {
  font-family: 'Abril Fatface', cursive;
}

button:hover {
  color: rgb(255, 168, 183);
}

.fa-bars {
  font-size: 1.5em;
}