<mat-toolbar color="primary" class="toolbar">
    <!--<button mat-button routerLink="/homepage" routerLinkActive="active" class="logo"></button>-->
    <img src="../../../../assets/Logo.svg" height="100px" alt="logo">

    <!--<button mat-button routerLink="/homepage" routerLinkActive="active"><mat-icon><img src="assets/blaire's craft.png" alt="logo" height="80px"></mat-icon></button>-->

    <span class="fill-remaining-space"></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</button>
        <button mat-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About Me</button>
        <button mat-button routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Projects</button>
        <button mat-button routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact Me</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon class="fa fa-bars"></mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/homepage" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</button>
    <button mat-menu-item routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About Me</button>
    <button mat-menu-item routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Projects</button>
    <button mat-menu-item routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact Me</button>
</mat-menu>

<router-outlet></router-outlet>