.fill-remaining-space {
  flex:  1 1 auto;
}

.mat-toolbar.mat-primary {
  background: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header button, #cv {
  font-size: 0.9em ;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

mat-menu button {
  font-family: 'Abril Fatface', cursive;
}

button.active {
  color: #d13c3c;
}

button:hover, #cv:hover {
  background-color: white;
  color: #e95e5e;
}

.fa-bars {
  font-size: 1.5em;
}


.toolbar-contact ul li {
  list-style-type: none;
  padding: 0 1em 0 0;
}

.toolbar-contact ul li a{
  color:#000;
  font-size: 1.15em;
}

.toolbar-contact ul li a:hover {
  color: #e95e5e;
}


.toolbar ul, .toolbar-contact ul {
  display: flex;
}

.toolbar ul li {
  padding:0 1em 0 0;
  list-style-type: none;
  font-size: medium;
}

.toolbar ul li a {
  color:#000;
  font-size: 1em;
}

.toolbar ul li a:hover, .resume:hover {
  color: #e95e5e;
}



@media only screen and (min-width : 992px) {
  mat-toolbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    height: 25vh;
  }

}


@media only screen and (min-width : 1200px) {
  
}

