.home-container {
    justify-content:center;
    display:flex;
    align-items: center;
}

.intro {
    font-family: 'Raleway', sans-serif;
}

.phrase {
    text-align: justify;
    font-size: 1em;
    padding: 0 2em 0;
    margin-top: 2em; /*look for a way to add for just laptop view*/
}

button {
    padding: 0.7em 1em;
    border-radius: 1.4em;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #7880d6;
}

button:hover{
    background-color: #979ee9;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.8em;
    color:#F88AB0;
}

@media only screen and (min-width : 992px) {
    .phrase, .image {
        margin: auto;
    }
}

@media only screen and (min-width : 1200px) {
    .phrase, .image {
        margin: auto;
    }
}