.home-container {
    justify-content:center;
    display:flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 2em;
}

.intro {
    font-family: 'Raleway', sans-serif;
}

.phrase {
    text-align: justify;
    font-size: 1em;
    margin: 2em 0; 
}

button {
    padding: 0.7em 2em;
    border-radius: 1.6em;
    border: 0;
    background-color: #d13c3c;
    color: white;
    margin: 1em 0;
}

button:hover{
    background-color: #e95e5e;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.6em;
    padding: 0.1em 0;
    line-height: 0.9em;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
}

.profile-img{
    height: 27rem;
}

.image {
    text-align: center;
}

@media only screen and (min-width : 992px) {
    .phrase, .image {
        margin: auto;
        padding-top: 0.5em;
    }

    .phrase{
        padding: 5em 0 0 0;
    }
}

@media only screen and (min-width : 1200px) {
    .phrase, .image {
        margin: auto;
    }
}