<div class="home-container container">
    <div class="intro row">
        <div class="col-md-6 col-lg-6 image">
            <img src="../../../assets/profile.png" alt="Female Developer avatar" class="img-fluid profile-img">
        </div>
        <div class="phrase col-md-6 col-lg-6">
            <h1 class="name">Ogoh Blessing</h1>
            <h2>Frontend Engineer</h2>
            <p>I build websites that are responsive, scalable and accessible. On reading the first sentence, I bet your first thought was why you'd need a website for your brand. Well, unlike other advertisement media, a website keeps spreading the word about your business 24/7 all year long. And clicking the button below would bring you a step closer to getting this exposure for your brand.</p>
            <button routerLink="/contact" routerLinkActive="active">Contact me</button>
        </div>
    </div>
</div>
